[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=saint
WorkingDirectory=/home/saint/sites/SITENAME/src
ExecStart=/home/saint/sites/SITENAME/venv/bin/gunicorn \
--bind unix:/tmp/SITENAME.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target